# Dependencies
node_modules/
/.pnp
.pnp.js
.husky

# Testing
/coverage
.nyc_output

# Production
/build
/dist


# Editor directories and files
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm
